/* ----------------------collage------------------- */
@use "../utilities/variables";
@use "../utilities/extends";
.collage-style{
    margin: 10px;
    padding-left: 40px;
    padding-right: 40px ;
}
.collage-cat{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "cat-ingresos cat-invierno"
    "cat-ingresos cat-descuento";
    justify-items: center;
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: variables.$fuente;
}
.btn-ingresos{
    @extend .btn-descuento;
    height: 310px;
    background-image:url(../assets/nuevacoleccion.png);
    grid-area: cat-ingresos;
}

.btn-invierno{
    @extend .btn-descuento; 
    grid-area: cat-invierno;
    background-image: url(../assets/invierno3.png);
}

// --------------------------------Transiciones--------------------------------------

.btn-ingresos::after {
    @extend %sombra-text-collage;
}

.texto-btn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 20px;
        font-weight: 300;
        z-index: 2; 
}

.btn-ingresos:hover::after {

    @extend %expansion-vertical;
}

.btn-descuento::after{
    @extend %sombra-text-collage;

}

.btn-descuento:hover::after {

    @extend %expansion-vertical; 
}

.btn-invierno::after{
    @extend %sombra-text-collage;

}

.btn-invierno:hover::after {
    @extend %expansion-vertical;
}

// ------------------------ Media Qeries ----------------------------

@media (max-width: 750px) {
    .collage-cat{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "cat-ingresos"
        "cat-invierno"
        "cat-descuento";
        margin: 20px;
    }
    .btn-ingresos{
        height: 150px;
    }
    
}