.msj-contact{
    padding: 80px;
    text-align: center;
}
.color-btn{
    background-color: rgb(93, 226, 93);
}
.color-btn:hover{
    background-color: rgb(93, 255, 93);
}
.msj-contact{
    font-size: 25px;
}

.acordeon-style{
    font-weight: 500;
}
.form-consulta{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    h4{
        text-align: center;
    }
    .cont-form{
        padding: 20px;
    }
}