@use "../utilities/variables";
@use"../utilities/extends";
footer{
    background-color:rgb(224, 224, 224);
    padding: 20px;
}
.contenido-footer{
    display: flex;
    justify-content: space-between;
}
.title-redes{
    font-weight: 500;
}

.dir{
    @extend .redes-sociales;
    justify-self: end;
}
.e-mail::before{
    padding: variables.$padd-redes;
    content: url(../assets/mail.png);
}

.direccion::before{
    padding: variables.$padd-redes;
    content: url(../assets/ubi.png);
}

.instagram::before{
    padding: variables.$padd-redes;
    content: url(../assets/instagram.png);
}
.facebook::before{
    padding: variables.$padd-redes;
    content: url(../assets/facebook.png);
}
.whatsapp::before{
    padding: variables.$padd-redes;
    content: url(../assets/whatsapp.png);
}

@media (max-width:750px){
    .contenido-footer{
        flex-direction: column;
    }
}