footer{
    background-color:rgb(224, 224, 224);
    padding: 20px;
}
.contenido-footer{
    display: flex;
    justify-content: space-between;
}
.title-redes{
    font-weight: 500;
}
.redes-sociales{
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
}
.dir{
    @extend .redes-sociales;
    justify-self: end;
}
.e-mail::before{
    padding: 10px;
    content: url(../assets/mail.png);
}

.direccion::before{
    padding: 10px;
    content: url(../assets/ubi.png);
}

.instagram::before{
    padding: 10px;
    content: url(../assets/instagram.png);
}
.facebook::before{
    padding: 10px;
    content: url(../assets/facebook.png);
}
.whatsapp::before{
    padding: 10px;
    content: url(../assets/whatsapp.png);
}

@media (max-width:750px){
    .contenido-footer{
        flex-direction: column;
    }
}