@use "../utilities/variables" ;

.card-personalizada {
    width: variables.$ancho-card;
    height: variables.$alto-card;
    border-radius: 10px; 
    box-shadow: variables.$sombra; 
    overflow: hidden; /* Evita que los elementos sobresalgan de los bordes */
}


.img-tamaño {
    width: variables.$ancho-imagencard;
    height:variables.$alto-imgcard; 
    object-fit: cover; 
    
}

.titulo-card {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.texto-card {
    font-size: 14px;
    color: #555555;
    margin: 10px 0;
}

.precio-card {
    font-size: 16px;
    color: #000000;
    margin: 5px 0;
}

.estilo-btn {
    width: 100%; 
    text-align: center;
    padding: 10px;
    background-color: variables.$colorpuppis;
    font-family: variables.$fuente;
}
.estilo-btn:hover{
    background-color: variables.$hover-colorpuppis;
}

/* Uso de Flexbox en la fila de cards */
.layout-card-ofertas {
    margin: variables.$padd-layout;
    padding: variables.$margin-layout;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    p{
        height: 50px;
    }
}

@media (max-width: 400px){
    .card-personalizada{
        width: 350px;
    }

}