/* Estilo para la card personalizada */
.card-personalizada {
    width: 100%; /* Ocupa el 100% del espacio disponible en su contenedor */
    max-width: 100%; /* Aseguramos que la card no se estire más allá del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Evita que los elementos sobresalgan de los bordes */
}

/* Estilo de la imagen */
.img-tamaño {
    width: auto;
    height: 250px; /* Ajustamos la altura de las imágenes para que sean más consistentes */
    object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
    
}

/* Ajuste para el texto de la card */
.card-body {
    padding: 15px; /* Más espacio interno en las cards */
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.card-text {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.card h5 {
    font-size: 16px;
    color: #000;
    margin: 5px 0;
}

.btn-primary {
    width: 100%; /* Hacemos que el botón ocupe el 100% del ancho */
    text-align: center;
    padding: 10px;
}

/* Uso de Flexbox en la fila de cards */
.layout-card-ofertas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    p{
        height: 50px;
    }
}


