//Fuente principal
$fuente:"inter" , sans-serif;
//Color principal

$colorpuppis: #ffd72d;
$hover-colorpuppis:#ffe46b;

//Variable de tarjetas

$ancho-card:400px;
$alto-card:450px;
$sombra:0 2px 10px rgba(0, 0, 0, 0.1);

//Tamaño imagen card

$ancho-imagencard:auto;
$alto-imgcard:250px;

//Margin y padding layout-cards

$padd-layout:25px;
$margin-layout:10px;

//Padding Redes
$padd-redes:10px;

//Separacion entre cards
$padd-separacion:10px;
$marg-separacion:10px;
