/* Comentario */
/* Fuente Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
 
#logoPuppis img {
    width: 150px;
    height: auto;
}

.bg-navbar-style{
    background-color: #ffd72d;
    font-family: "inter" , sans-serif;
    font-size: 20px;
    font-weight: 400;
}

/* ----------------------collage------------------- */
.collage-cat{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: 
    "cat-ingresos cat-invierno"
    "cat-ingresos cat-descuento";
    justify-items: center;
    gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "inter",sans-serif;
    font-weight: 600;
}
.btn-ingresos{
    width: 100%;
    height: 310px;
    background-image:url(../assets/nuevacoleccion.jpg);
    border: none;
    grid-area: cat-ingresos;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-descuento{
    width: 100%;
    height: 150px;
    background-image: url(../assets/oferta.jpg);
    border: none;
    grid-area: cat-descuento;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-invierno{
    width: 100%;
    height: 150px;
    background-image: url(../assets/invierno.jpg);
    border: none;
    grid-area: cat-invierno;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.prod-destacados{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
}

.estilo-card{
    align-items: center;
    font-family: "inter",sans-serif;
    justify-content: center;
}
.titulo-card{
    font-size: 18px;
}


.img-tamaño {
    height: 85%;
    width: 85%;

}

.nav-pag{
    margin-top: 20px;
    font-family: "inter",sans-serif;
}
.ofertas1-class{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:20px;
    margin: 20px;
    justify-items: center;

}


.categorias-class{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    margin: 20px;
    justify-items: center;
}

.categorias-class button {
    border: none;
    width: 90%;
    height: 150px;
    background-size: cover;
    background-position: center;
    font-family: "inter",sans-serif;
    font-weight: 500;
    border-radius: 20px;
}

.btn-pañales{
    background-image: url(../assets/cat-pañales.png);
    
}
.btn-mamaderas{
    background-image: url(../assets/cat-mamaderas.png);
}
.btn-higiene{
    background-image: url(../assets/cat-higiene.png);
}
.btn-perfumeria{
    background-image: url(../assets/cat-perfumes.png);
}
.btn-ropa{
    background-image: url(../assets/cat-ropa.png);
}
.btn-leches{
    background-image: url(../assets/cat-leches.png);
}

/* -------------------Foother------------------- */
.footer-class{
    background-color: lightgray;
}
.footer-class p {
    font-family: "inter",sans-serif;
}
.footer-class ul{
    font-family: "inter",sans-serif;
    font-size: 15px;
}

@media (max-width: 576px) {
    .collage-cat{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "cat-ingresos"
        "cat-invierno"
        "cat-descuento";
        margin: 20px;
    }
    .btn-ingresos{
        height: 150px;
    }
    .categorias-class{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
    }
}